.main_header{
    margin: 0px;
    padding: 0 10%;
    overflow: hidden;
    background-color: black;
    color: white;
}
.container{
    height: 50px;
}
.logo{
    width: 30%;
    float: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
}
.header_info{
    width: 30%;
    float: right;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    text-align: right;
}
.button{
    background: #6200ee;
    border: 1px solid #6200ee;
    padding: 5px 50px;
    border-radius: 17px;
    color: white;
    font-size: 20px;
}